/ArimaForecaster.class
/ClosePriceDailyData.class
/DataController.class
/DataReader.class
/JunitTestor.class
/PredictorRunner.class
/ProgramDashboard.class
/StockData.class
/StockDataAnalysis.class
/StockMarket.class
/StockMarketRunner.class
/StockView.class
/StockLineChart.class
